## Macro to get a substring by a start and ending string, e.g.
##		Full String					Start String	End String	Return
##		[xhtmlBlock blahblah]		[xhtmlBlock		]			 blahblah
##		path="some/path"			path="			"			some/path
#macro ( strByStartEnd $contentString $startString $endString )##
#set ( $startPos = $contentString.indexOf($startString) )##
#if ($startPos > 0)##
#set ( $startPosExc = $startPos + $startString.length() )##
$contentString.substring( $startPosExc, $contentString.indexOf($endString,$startPosExc) )##
#end##
#end

## Macro to parse a ShortCode and return the contents of an XHTML block in its place
#macro ( xhtmlBlock $contentString )
    #set ( $startPosPar = $contentString.indexOf('[xhtmlBlock') )
    #if ($startPosPar > 0)
        #set ( $shortCode = "#strByStartEnd($contentString '[xhtmlBlock' ']')" )
        #set ( $endPos = $contentString.indexOf(']',$startPosPar) )
        #set ( $endPos = $endPos + 1 )
        #set ( $fullShortCode = $contentString.substring($startPosPar,$endPos) )
        #set ( $endAtt = '"' )
        #set ( $pathStart = 'path="' )
        #set ( $blockPath = "#strByStartEnd($shortCode $pathStart $endAtt)" )
        #set ( $siteStart = 'site="' )
        #set ( $siteName = "#strByStartEnd($shortCode $siteStart $endAtt)" )
        #set ( $xhtmlBlock = $_.locateBlock($blockPath,$siteName) )
        #set ( $contentReplace = $contentString.replace($fullShortCode,$xhtmlBlock.xHTML) )
        #xhtmlBlock($contentReplace)
    #else
        #set ( $content = $contentString )
    #end
#end

## Macro to parse a ShortCode and return the contents of an text block in its place
#macro ( textBlock $contentString )
    #set ( $startPosPar = $contentString.indexOf('[textBlock') )
    #if ($startPosPar > 0)
        #set ( $shortCode = "#strByStartEnd($contentString '[textBlock' ']')" )
        #set ( $endPos = $contentString.indexOf(']',$startPosPar) )
        #set ( $endPos = $endPos + 1 )
        #set ( $fullShortCode = $contentString.substring($startPosPar,$endPos) )
        #set ( $endAtt = '"' )
        #set ( $pathStart = 'path="' )
        #set ( $blockPath = "#strByStartEnd($shortCode $pathStart $endAtt)" )
        #set ( $siteStart = 'site="' )
        #set ( $siteName = "#strByStartEnd($shortCode $siteStart $endAtt)" )
        #set ( $textBlock = $_.locateBlock($blockPath,$siteName) )
        #set ( $contentReplace = $contentString.replace($fullShortCode,$_EscapeTool.xml($textBlock.text)) )
        #textBlock($contentReplace)
    #else
        #set ( $content = $contentString )
    #end
#end

##Call the Macros
#set ( $content = $_SerializerTool.serialize($wysiwyg,true) )
#xhtmlBlock($content)
#textBlock($content)

## Output processed content
$content
